asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
defusedxml==0.6.0
Deprecated==1.2.5
Django==2.2.1
django-tz-detect==0.2.10
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
oauthlib==3.0.1
pycparser==2.19
PyGithub==1.43.7
PyJWT==1.7.1
pyOpenSSL==19.0.0
python-decouple==3.1
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
smmap2==2.0.5
social-auth-app-django==3.1.0
social-auth-core==3.1.0
sqlparse==0.3.0
urllib3==1.25.2
wrapt==1.11.1
