{% extends "upload/header.html" %}

{% block content %}
<body>
<div class = "jumbotron">
  <h1>Create New Course</h1>
  <p>Please fill out the information for the course you want to create below</p>
</div>
<form action="/action_page.php">
  <div class="form-group">
    <label for="id">ID:</label>
    <input type="id" class="form-control" placeholder="cs111.00-f18" id="id">
  </div>
  <div class="form-group">
    <label for="course_number">Number:</label>
    <input type="course_number" class="form-control" placeholder="CS 111" id="course_number">
  </div>
  <div class="form-group">
    <label for="section">Section:</label>
    <input type="section" class="form-control" placeholder="00" id="section">
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="title" class="form-control" placeholder="Intro to Computer Science" id="title">
  </div>
  <div class="form-group">
    <label for="prof_name">Professor Name:</label>
    <input type="prof_name" class="form-control" placeholder="Mickey Mouse" id="prof_name">
  </div>
  <button type="submit" class="btn btn-primary btn">Submit</button>
</form>
</body>
{% endblock %}
