<div class="history-sidebar">
{% if assignment.title %}
    <h5>Submissions for {{ assignment.title }}</h5>
{% elif course.title %}
    <h5>Submissions for {{ course.title }}</h5>
{% else %}
    <h4>Submission History</h4>
{% endif %}
    <ul class="list-group list-group-flush">
    {% for submission, files in submissions %}
        <li class="list-group-item">
            <h5 class="lead">{{ submission.description }}</h5>
              {% for file, url, filename in files %}
                <a href="{{ url }}">{{ filename }}</a><br>
              {% endfor %}
            <small class="text-muted">{{ submission.submitted_at }}</small>
        <br>
            {% if not assignment %}
                    <small class="text-muted">{{ submission.assignment.title }}</small>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if not submissions %}
        <hr class="my-3">
        <p>No submissions yet.</p>
    {% endif %}
</div>