{%  extends "upload/header.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-5">Upload your assignment here.</h1>
      <p class="lead">It will be saved to the <a href="{{ url }}">{{ course }}-{{ user.username }}</a> repository on GitHub.</p>
      <hr class="my-4">
        {% if not user.username %}
      <p>If you're registered for this class, please log in with your Carleton credentials below.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'social:begin' 'google-oauth2' %}" role="button">Login</a>
    {% else %}
{#    <form method="post" enctype="multipart/form-data" class="form-group">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="btn btn-primary">Upload</button>#}
{#    </form>#}
            <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
              <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
              <h3>Drop Files Here to Upload</h3>
            </div>

            {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
            <input id="fileupload" type="file" name="file" multiple
                   data-url="{% url 'model_form_upload' course %}"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

            {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
            <table id="gallery" class="table table-bordered">
              <thead>
                <tr>
                  <th>File</th>
                </tr>
              </thead>
              <tbody>
{#                {% for photo in photos %}#}
{#                  <tr>#}
{#                    <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>#}
{#                  </tr>#}
{#                {% endfor %}#}
              </tbody>
            </table>

            <form method="post">
            {% csrf_token %}
                <label for="description">Description</label>
                <input id="description" type="text" name="description">
                <input id="submit" type="submit" name="submit" class="btn btn-primary">
            </form>
    {% endif %}
        <a href="/courses" class="btn btn-secondary" role="button">< Back to courses</a>
    </div>
{#    <p>Logged in as {{ user.username }}.   <a href="/logout/">Logout</a></p>#}
    {% block javascript %}
        {% load staticfiles %}
        {# JQUERY FILE UPLOAD SCRIPTS #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

        {# PHOTOS PAGE SCRIPTS #}
        <script src="{% static 'js/basic-upload.js' %}"></script>
    {% endblock %}
{% endblock %}
