{%  extends "upload/header.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-5">Upload your assignment here.</h1>
      <p class="lead">It will be saved to the <a href="{{ url }}">{{ course }}-{{ user.username }}</a> repository on GitHub.</p>
      <hr class="my-4">
        {% if not user.username %}
      <p>If you're registered for this class, please log in with your Carleton credentials below.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'social:begin' 'google-oauth2' %}" role="button">Login</a>
    {% else %}
            {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
            <label id="fileupload_box" for="fileupload" class="well text-muted text-center">
            <span class="fas fa-arrow-circle-up"></span> Drop Files Here to Upload
                {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
                <table id="gallery" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>File</th>
                    </tr>
                  </thead>
                  <tbody>
    {#                {% for photo in photos %}#}
    {#                  <tr>#}
    {#                    <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>#}
    {#                  </tr>#}
    {#                {% endfor %}#}
                  </tbody>
                </table>
            </label>
            <span style="padding-left: 20px; padding-right: 20px">or</span> <label for="fileupload" class="btn btn-primary">Browse files</label>
            <input id="fileupload" type="file" name="file" multiple
                   data-url="{% url 'model_form_upload' course %}"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

            <form method="post">
            {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="decription-label">Description</span></div>
                    <input type="text" class="form-control" name="description" placeholder="Enter the assignment name or other comments"
                           aria-label="description" aria-describedby="description-label">
                </div>
                <input id="submit" type="submit" name="submit" class="btn btn-primary btn-lg">
            </form>
            <br>
    {% endif %}
        <a href="/courses" class="btn btn-secondary" role="button"><span class="fas fa-arrow-left"></span> Back to courses</a>
    </div>
{#    <p>Logged in as {{ user.username }}.   <a href="/logout/">Logout</a></p>#}
    {% block javascript %}
        {% load staticfiles %}
        {# JQUERY FILE UPLOAD SCRIPTS #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
        <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

        {# PHOTOS PAGE SCRIPTS #}
        <script src="{% static 'js/basic-upload.js' %}"></script>
    {% endblock %}
{% endblock %}
