<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SubGit</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="278320125439-9qq6jlve7bc9hon8tcqqldot5rkatuij.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<h1>SubGit</h1>
<p>Welcome to SubGit, a homework submission tool for the Carleton College Computer Science Department. </p>
<p>This website uses GitHub for authentication. Before you log in, make sure that your GitHub account has been registered
    with your instructor.</p>
<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
{% comment %}<script>
      function onSignIn(googleUser) {
        console.log("Success!");
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
{% endcomment %}

</body>
</html>