<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitted</title>
</head>
<body>
You've successfully submitted your assignment!
<!-- test document history: displays all past uploads
{% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.document.url }}">{{ document.document.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
{% endif %}
-->
<p><a href="/upload/">Submit another file</a></p>
<p><a href="/logout/">Log out</a></p>
</body>
</html>