{% extends "upload/header.html" %}

<style>
.btn-edit {
    background-color: #0b5091;
    border-color: #0b5091;
}
</style>


{% block content %}
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/prof/courses">Courses</a></li>
            <li class="breadcrumb-item"><a href="/prof/courses/{{ course.id }}">{{ course.id }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ assignment.title }}</li>
            </ol>
        </nav>
        <h1 class="display-5">{{ course.title }}</h1>
        <p class="lead">{{ course.id }} - {{ course.prof.full_name }}</p>
        <h3 class="display-5">{{ assignment.title }}</h1>
        {% if assignment.deadline %}
          <p>Due: {{ assignment.deadline }}</p>
        {% else %}
          <pclass="text-muted">No due date</p>
        {% endif %}</a>
        <h5> Assignment Description: </h5>
        <div class="col-sm-12">
          <p> {{ assignment.description }} </p>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <a href="/prof/courses/{{ course.id }}" class="btn btn-secondary btn-block span" role="button"><span class="fas fa-arrow-left"></span>Back</a>
          </div>
          <div class="col-sm-1">
            <a href="/prof/courses/{{ course.id }}/{{ assignment.id }}/edit_assignment" class="btn btn-edit btn-block" role="button">Edit</a>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-danger btn-block" role="button">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
