body > .container {
    padding-top: 55px
}

.navbar {
    background-color: #0b5091;
}

.dropdown {
    list-style-type: none;
}

#navbarDropdownMenuLink {
    color: white;
}

.btn-primary {
    background-color: #0b5091;
    border-color: #0b5091;
}

.btn-primary:hover {
    background-color: #083c6d;
}