body > .container-fluid {
    padding-top: 55px;
    padding-left: 70px;
    padding-right: 70px;
}

.navbar {
    background-color: #0b5091;
}

.dropdown {
    list-style-type: none;
}

#navbarDropdownMenuLink {
    color: white;
}

.btn-primary {
    background-color: #0b5091;
    border-color: #0b5091;
}

.btn-primary:hover {
    background-color: #083c6d;
}

#fileupload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#fileupload_box {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 2rem;
    border: gray;
    border-style: dashed;
}

#gallery {
    font-size: medium;
    align-content: left;
}

.breadcrumb {
    padding-bottom: 0;
    padding-left: 0;
}

.jumbotron {
    padding-top: 10px;
}

.history-sidebar {
    padding-top: 25px;
}


@media (max-width: 992px) {
    .history-sidebar {
        padding-top: 0;
        padding-left: 15px;
    }
}

@media (max-width: 768px) {
    .body > .container-fluid {
        padding: 0;
    }

    .navbar {
        position: relative;
        width: 100%;
        font-size: small;
    }
}